MINIO_ROOT_USER=your_minio_user
MINIO_ROOT_PASSWORD=your_minio_password

S3_ENDPOINT=http://minio:9000
S3_ACCESS_KEY=your_s3_access_key
S3_SECRET_KEY=your_s3_secret_key
S3_BUCKET=warehouse-ml

AIRFLOW_USERNAME=your_airflow_username
AIRFLOW_PASSWORD=your_airflow_password
AIRFLOW_FIRSTNAME=YourName
AIRFLOW_LASTNAME=YourLastname
AIRFLOW_EMAIL=your_email@example.com


# Для запуска из Docker/Airflow:
# S3_ENDPOINT=http://minio:9000

# Для локального запуска с Windows:
# S3_ENDPOINT=http://localhost:9000